{% load staticfiles %}

<link href="{% static 'bootstrap/css/bootstrap.min.css' %}"  rel="stylesheet">
<head>
    <meta charset="utf-8">
    <title>Graph representation</title>
    <!--js-->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/validate.js' %}"></script>
    <script src="{% static 'js/vivagraph.min.js' %}"></script>
    <script>
        function create() {
        var graph = Viva.Graph.graph();
        graph.addLink(1, 2);
        var elem =  document.getElementById('graphDiv');
        var renderer = Viva.Graph.View.renderer(graph, {container:  elem});
        renderer.run();
        }
        
    </script>
</head>
<body onload="create();">
<input type="hidden" value="{{ nodes }}" id="nodes" name="nodes">
<div id="graphDiv"></div>
{% if context %}
    <ul>
    {% for node in nodes %}
        <!--<li><a href="{{ document.image.url }}">{{ document.pk }} {{ document.image.name }}</a></li>-->
    {% endfor %}
    </ul>
{% else %}
    <p>No Node found.</p>
{% endif %}

</body>
